{% extends 'base.html.twig' %}

{% block body %}
    <h1>Standings</h1>
    <ul>
        <li><a href="{{ path('championships') }}">Show history</a></li>
        <li><a href="{{ path('championships.create') }}">Create new championship</a></li>
    </ul>
{% endblock %}
